.room{
    border: 1px #ff90ff solid;
}

.rimg{
    border: 1px #65a854 solid;
}

.rrimg{
    border: 1px #086ff5 solid;
    width: 25%;
    display: flex;
    justify-content: center;
}

.rid{
    border: 1px #765dd3 solid;
}

.rname{
    border: 1px #54b1ce solid;
}

.rad{
    border: 1px #d5e452 solid;
}