.updatediv{
    display: flex;
    border-radius:20px;
    margin: auto;
    align-items: center; 
    width: 100%;
    justify-content: center;
}
.check{
    display: 'flex';
    flex-direction:'column';
    justify-content: 'flex-end';
}
.imagetext{

}